CDC_KAFKA_BROKERS=localhost:9093
CDC_TOPIC=cdc_coinstream.public.orders

CDC_PG_HOST=localhost
CDC_PG_PORT=5433
CDC_PG_DB=coinstream
CDC_PG_USER=postgres
CDC_PG_PASSWORD=postgres

CDC_CLICKHOUSE_HOST=localhost
CDC_CLICKHOUSE_PORT=8124
CDC_CLICKHOUSE_DB=coinstream_cdc
CDC_CLICKHOUSE_USER=cdc
CDC_CLICKHOUSE_PASSWORD=cdc123

CDC_CONSUMER_GROUP=cdc_raw_consumer
CDC_APPLY_CONSUMER_NAME=cdc_state_applier
CDC_SNAPSHOT_POLICY=upsert
CDC_METRICS_LOG_INTERVAL_SEC=30
